audio {
  width: 100%;
}

.container {
  max-width: 800px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.visualizer {
  background-color: Indigo;
  width: 100%;
  height: 100%;
}

.library {
  height: 400px;
  overflow-y: scroll;
}

.queue {
  overflow-y: scroll; 
}